.box-layout {
  width: min-content;
  margin: auto;
  max-width: 66rem;
  display: flex;
  flex-direction: column;
  border: solid 1px #dedede;
  border-radius: $m-corner;
}

.box-layout-separators {
  margin: 0 $xs-size;
}

.box-layout-list {
  overflow: auto;
  display: flex;
}

.box-layout__title {
  font-size: $font-size-large;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 79vw;
}

.box-layout__subtitle {
  font-size: $font-size-large;
  margin: 0;
}

.box-loyout__bottom-info {    
  border-radius: 0 0 1.2rem 1.2rem;
  background-color: $secondary-color;
  padding: $xs-size $xs-size 0 $xs-size;
}

.box-layout__poster img{
  display: block;
  border-radius: 1.2rem 1.2rem 0 0;
  height: calc(100vh - 7rem - 0.8rem - 78px - 2px);
}

.recc-page img {
  height: calc(100vh - 7rem - 0.8rem - 86px - 2px);
}

.find-page img {
  height: calc(100vh - 7rem - 0.8rem - 108px - 2px);
}