.box-layout {
  margin: auto;
  max-width: 66rem;
  height: calc(100vh - 6rem);
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
}

.findPage {
  height: calc(100vh - 10rem);
  padding: $m-size;
  margin: 0 $xs-size;
  background-color: aliceblue;
}

.box-layout-list {
  width: max-content;
  display: flex;
}

.box-layout__title {
  font-size: $font-size-large;
  margin: 0;
  padding: $xs-size;
}

.box-layout__subtitle {
  font-size: $font-size-large;
  margin: 0;
}
