.Login-layout {
  background-color: white;
  width: 100vw; 
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ea686a;
  @media (max-width: $desktop-breakpoint) {
    flex-direction: row;
  }
}

.Login-layout-box {
  background-color: #00000012;
  position: absolute;
  z-index: 1;
  padding: $m-l-size;
  margin: $s-size;
  border-radius: 0.4rem;
}

.Login-layout-box p {
  color: #ffffffa8;
  width: 25vw;
  margin-bottom: $m-size;
  min-width: 27rem;
  border-radius: $s-corner;
  font-size: $font-size-large;
}

.login-layout-title {
  color: white;
}

.Login-layout-box button {
  font-size: $font-size-xlarge;
  font-weight: bold;
  padding: $m-l-size;
  background-color: #c7323285;
  color: #ffffff9e;
  border-radius: $m-corner;
}

.Login-layout-image-box {
  display: flex;
  margin-top: auto;
}

.Login-layout-image-box img{
  width: inherit;
  height: 100vh;
  margin: auto;
  @media (max-width: $desktop-breakpoint) {
    width: 100vw;
    height: inherit;
  }
}