.transition {
  display: flex;
  justify-content: center;
}

.page {
  width: 100%;
}

.page-change-enter {
}

.page-change-enter-active {
  transition: transform 300ms;
}

.page-change-exit {
  position: absolute;
}

.page-change-exit-active {
  transition: transform 300ms;
}

.swipe-view-container {
  height: calc(100vh - 7rem - 0.8rem);
}

.swipeableView {
  z-index: 0;
  height: calc(100vh - 7rem - 0.8rem);
  width: 100vw;
  background: white;
}

.firstSwipeableView {
	z-index: 1;
	width: 100%;
	position: absolute;
}

.secondSwipeableView {
	z-index: -1;
}

.dummie-view {
  width: 100%;
  height: 100%;
}