* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.body {
	padding-top: 6rem;
}

img {
    margin: auto;
	height: 78%;
	padding: $xs-size 0;
}